.container {
  background-color: var(--black-color);
  display: block;
  position: relative;
  min-height: 100vh;
}
.photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  bottom: 0;
  overflow: hidden;
  opacity: 0.8;

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }
}
.main {
  position: absolute;
  top: 0;
  width: 40%;
  right: 0;
  bottom: 0;
  padding: 64px;
  overflow: auto;
}
.logo {
  height: 60px;
  width: auto;
  margin-bottom: 20px;
}
.description {
  font-size: 1.5rem;
  margin: 10px 0 30px 0;
}

.noti-err {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  .err-message {
    border: 2px solid red;
    border-radius: 6px;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 10px 20px;
    color: red;
  }
}
.register-form {
  display: flex;
  flex-direction: column;

  input {
    height: 46px;
    padding: 12px 20px;
    margin: 10px 0;
    color: var(--black-color);
    font-size: 1.5rem;
    font-weight: 540;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    background: var(--white-color);
  }
  p {
    color: rgba($color: #fc0000, $alpha: 0.9);
  }
}

.btn {
  width: 100%;
  height: 46px;
  font-size: 1.6rem;
  font-weight: 550;
  background-color: var(--green-color);
  text-align: center;
  margin-top: 40px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: rgba(37, 255, 113);
    filter: brightness(1.1);
  }
}

.togglePass {
  display: flex;
  align-items: center;
  margin-left: 20px;
  input {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}
