@import "normalize.css";

:root {
  --white-color: #fff;
  --black-color: #000;
  --header-color: rgba(0, 0, 0, 0.4);
  --goldBtn-color: #ffcd08;
  --gray-live-color: #646871;
  --gray: #40434b;
  --gray-opa: #4c4f56;
  --green-color: #25ff70;
  --text-color: #eee;
  --background-app-color: #1a1d23;
  --background-box: #3a3d44;
  --background-main: #2f3137;
  --background-content-left: #2f3137;
  --background-match-box: #4b4e56;
  --header-height: 60px;
}

* {
  margin: 0;
  padding: 0 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
}

body {
  background-color: var(--background-app-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--white-color);
  overflow-y: overlay;
}

// scrollbar
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 10px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 2px;
  height: 30px;
  background-color: rgba(224, 224, 224, 0.548);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(224, 224, 224, 0.13);
}

a {
  color: var(--white-color);
  text-decoration: none;
}
