.wrapper {
  display: block;
  padding: 10px 0;
  font-size: 1.4rem;
  background-color: var(--header-color);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.logo-link {
  height: 40px;
  width: auto;
  padding-right: 10px;
  margin: auto 18px auto 0;
}
.logo {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.actions {
  display: inline-flex;
}

.action-item {
  position: relative;
  margin: 0 2px;
  padding: 0 10px;
  line-height: 4rem;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--white-color);
  &.active::before {
    content: "";
    width: 40px;
    height: 2px;
    background: #25ff70;
    position: absolute;
    bottom: -10px;
    left: 26%;
  }
}

.icon {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 1px 8px;
}
.league-list {
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--gray);
  border-radius: 2px;
  width: 380px;
  padding: 8px;
}

.league-item {
  padding: 8px 10px;
  width: 50%;
  &:hover {
    background-color: var(--gray-opa);
    cursor: pointer;
  }
}

.user-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}

.userMenu-list {
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 8px 0;
  background-color: var(--gray);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.userMenu-item {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
  padding: 8px 16px;
  color: #aaa;
  .icon {
    font-size: 1.7rem;
    margin-right: 10px;
  }
  .title {
    color: #aaa;
  }

  &:hover {
    background: #2f3137;
  }
}
.icon-user {
  font-size: 1.6rem;
  color: var(--white-color);
}
